

p{
    font-size: 14px;
}
.row img{
    width:300px;
    height:400px;
}


.row{
    padding-bottom: 10px;
}

.Name{
    color:orange;
     font-size: 16px;
    font-weight: bold;
}

#pageTitle{
    padding: 20px 20px;
    text-align: center;
    color: orange;
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.281);
    margin-top: 100px;
}

.subtitle{
    padding: 5px 0px;
    font-weight: bold;
    font-size:14px;
}

.description{

    padding: 15px 20px;
} 