
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
p{
    font-size: 14px;
}
.row img{
    width:300px;
    height:400px;
}


.row{
    padding-bottom: 10px;
}

.Name{
    color:orange;
     font-size: 16px;
    font-weight: bold;
}

#pageTitle{
    padding: 20px 20px;
    text-align: center;
    color: orange;
}

.subtitle{
    padding: 5px 0px;
    font-weight: bold;
    font-size:14px;
}

.description{

    padding: 15px 20px;
    /* -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite; */
} 