html,body{
    margin:0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    
}
.bgbody{
    color:white;
    background-color: #333;
    /* max-width: 100%;
    max-height: 100%; */
}
.Allfont{
    color:white;
}

.Adminlogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    margin: 20px;
    padding: 20px;
}

@media screen and (max-width: 1140px) and (max-height:1370px) { 
    .Adminheading{
        font-size: 45px;
    }
    #inputAdminEmail{
        margin: 10px;
        padding: 10px;
    }
    #inputAdminPsw{
        padding: 10px;
    }
    .logo img{
        width:20%;
        position: absolute;
        top: 19%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* IPAD PRO -----------*/ 
@media screen and (max-width: 1140px) and (max-height:1370px) { 
    .Adminheading{
        font-size: 45px;
    }
    #inputAdminEmail{
        margin: 10px;
        padding: 10px;
    }
    #inputAdminPsw{
        padding: 10px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 768px) and (max-height:1240px) { 
    .Adminheading{
        font-size: 35px;
    }
    .logo img{
        width:20%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 960px) and (max-height:800px) { 
    .Adminheading{
        font-size: 35px;
    }
    .logo img{
        width:20%;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* IPAD */
@media screen and (width: 768px) and (height:1024px) { 
    .Adminheading{
        font-size: 35px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (width: 1024px)and (height:768px)  { 

    .logo img{

        top: 18%;
    }
}

/* Horizental IPHONE X & 6,7,8 */
@media screen and (max-width: 823px)and (height:375px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Horizental IPHONE 6+,7+,8+*/
@media screen and (width: 736px)and (height:414px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Horizental IPHONE 5/SE*/
@media screen and (width: 568px)and (height:320px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Horizental PIXEL2XL*/
@media screen and (width: 823px)and (height:411px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Horizental PIXEL*/
@media screen and (width: 731px)and (height:411px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Horizental Galaxy S5*/
@media screen and (width: 640px)and (height:360px)  { 

    .logo img{
        display: none;  
    }
    .Adminheading{
        font-size: 20px;
    }
    #inputAdminEmail{
        margin: 3px;
        padding: 3px;
    }
    #inputAdminPsw{
        padding: 3px;
    }
    .logo img{
        width:25%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Small screen */
@media screen and (max-width: 576px) { 
    .logo img{
        width:30%;
        top: 20%;
        
    }
    
    .Adminheading{
        font-size: 28px;
    }
    #inputAdminEmail{
        margin: 0px;
        padding: 5px;
        
    }
    #inputAdminPsw{
        padding: 5px;
    }
	
}