

#pagetitle{
    margin-top: 100px;
    padding: 20px 20px;
    text-align: center;
    color: orange;
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.281);
}
center{
    padding-bottom: 30px;
    padding-top: 30px;
   
}
