
html,body{
        margin:0px auto;
        font-family: Arial, Helvetica, sans-serif;
}

/* header navigation bar stylingstarts here */

            
            .bg-custom {
                background-color: #333;
                /* color: #FFFFFF; */
            }
           
            .custom-toggler.navbar-toggler {
                border-color: rgb(255, 255, 255);
            }
            .custom-toggler .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
              }

            .navbar img {
                max-width: 150px;
            }
            .navbar a {
                color: #FFFFFF;
            }
            .navbar .dropdown-menu a {
                color: black;
            }
            .navbar a:hover, .dropdown:hover .dropbtn {
                color:orange;
            }
            .dropdown-menu a:hover{
                background-color: orange;
                color:white;
            }
            .dropdown:hover>.dropdown-menu {
                display: block;
              }
            .navbar .btnstyle{
                font-size: 14px;
                color: #6BCDFD;
                padding: 9px 16px;
                border-radius: 4px;
                border: 1px solid #6BCDFD;
            }
            .navbar .loginbtn a:hover, .navbar .Signupbtn a:hover{
                color: #6BCDFD;
                text-decoration: none;
            }
            .blue{
                color: 	#6BCDFD;
              }
            .vl{
                border-left: 2px solid #6BCDFD;
                height: 35px;

            }
/* end of header navigation bar styling */

/*<----body styling starts here----->*/


        

        .brand_heading{
            font-size: 50px;

        }

        .brand_caption{
            
            font-size: 20px;
        }
        .btn_adv_pod a:hover{
            color: white;
        }

        
        /*<---- slider style starts here ---->*/
        .bg-slidebar{
            padding:60px 0px;
            background-color:#F3F3F3;
        }
        .imgSlide{
            max-width: 100%;
        }

        .media{
            padding:50px 100px;
        }
        .podfeat{
            padding:0px 80px;
        }
        .black {
            color: black;
          }

        /*<---- end of slider style starts here ---->*/
        
        



/*<---- end of body styling----->*/

/*<----footer styling starts here----->*/
    

        .copy_right{

            text-align: center;
            color:white;
            font-size: 12px;

        }

        .social{
            margin: 0, auto;
        }

        footer img{
            float: right;
            max-width: 150px;
        }
        footer{
            background-color: #333;
            padding:60px;
        }



/*<--- end of footer styling---->*/




/*--- Media Queries! styling starts here ---*/


    @media screen and  (max-width:960px){
        .vl{
            border-left: 0px solid #6BCDFD;
            height: 0px;

        }

    }
    @media screen and  (max-width:488px){
        .brand_heading{
            font-size: 45px;

        }

        .brand_caption{
            
            font-size: 17px;
        }

    }


/*--- end of Media Queries! styling---*/

/*--- About Us page styinh --*/
.content{
    padding: 20px 40px;
}

.container .row .aboutusPic {
    max-width: 500px;
    max-height: 500px;
}

.content article {
    padding: 20px 40px;
    min-height: 400px;
    max-width: 90%;
}
.content img{
    padding: 20px 40px;
    width: 300px;
    height: 350px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}


.Name{
color:orange;
}

#pageTitle{
    padding: 20px 20px;
    text-align: center;
    color: orange;
}

.subtitle{
    padding: 5px 0px;
}

.description{

    padding: 15px 0px;

} 

.os-animation{
  opacity: 0;
}
 
.os-animation.animated{
    opacity: 1;
}
/*--- end of About Us page styinh --*/


/*--- Faqs page styinh --*/
#Faqs_intro {
    font-style: italic;
}

.container .row .plus{
    max-width: 20px;
    max-height: 20px;
    
}





/*--- contact page styling-----*/


.btn-contact {
	background-color: #006699;
	border-radius: .5rem;
    border-color: white;
	padding: 0.75rem 1.6rem;
    font-weight: 800;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
}
testarea {
    min-width: 100%;
    min-height: 80%;
}
.btn-contact :hover{
    background-color:white;
}
hz1{
    color: orange;
    text-align: center;
    font-size: 80px;
}



/*--- contact page styling-----*/
