
html,body{
        margin:0px auto;
        font-family: Arial, Helvetica, sans-serif;
}

/* header navigation bar stylingstarts here */

            
            .bg-custom {
                background-color: #333;
                /* color: #FFFFFF; */
            }
           
            .custom-toggler.navbar-toggler {
                border-color: rgb(255, 255, 255);
            }
            .custom-toggler .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
              }

            .navbar img {
                max-width: 150px;
            }
            .navbar a {
                color: #FFFFFF;
            }
            .navbar .dropdown-menu a {
                color: black;
            }
            .navbar a:hover, .dropdown:hover .dropbtn {
                color:orange;
            }
            .dropdown-menu a:hover{
                background-color: orange;
                color:white;
            }
            .dropdown:hover>.dropdown-menu {
                display: block;
              }
            .navbar .btnstyle{
                font-size: 14px;
                color: #6BCDFD;
                padding: 9px 16px;
                border-radius: 4px;
                border: 1px solid #6BCDFD;
            }
            .blue {
                color: 	#6BCDFD;
              }
/* end of header navigation bar styling */

/*<----body styling starts here----->*/


        

        .brand_heading{
            font-size: 50px;

        }

        .brand_caption{
            
            font-size: 20px;
        }
        .btn_adv_pod a:hover{
            color: white;
        }

        
        /*<---- slider style starts here ---->*/
        .bg-slidebar{
            padding:60px 0px;
            background-color:#F3F3F3;
        }
        .imgSlide{
            max-width: 100%;
        }

        .media{
            padding:50px 100px;
        }
        .podfeat{
            padding:0px 80px;
        }
        /* .slide-description{
            padding:0px 30px 0px 0px;
        } */

        .black {
            color: black;
          }


        /* .carousel-control-prev-icon,
        .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        outline: black;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid black;
        background-color: black;
        background-image: none;
        } */
        /*<---- end of slider style starts here ---->*/
        
        



/*<---- end of body styling----->*/

/*<----footer styling starts here----->*/
    

        .copy_right{

            text-align: center;
            color:white;
            font-size: 12px;

        }

        footer img{
            float: right;
            max-width: 150px;
        }
        footer{
            background-color: #333;
            padding:60px;
        }



/*<--- end of footer styling---->*/




/*--- Media Queries! styling starts here ---*/


            /* @media screen and  (max-width:960px){
                header{
                    position: relative;
                }

                .navbar{
                    top: 20px;

                }
                #menu-icon{
                    
                    position: absolute;
                    right: 5%;
                    display: inline-block;
                }
                nav:hover ul{
                    display: block;
                }
                nav ul, nav:active ul{
                    display: none;
                    z-index: 1000;
                    position: absolute;
                    background:  #f9f9f9;
                    opacity: .9;
                    width: 20%;
                    padding: 20px 20px;
                    right: 2px;
                    top:85px;
                    border: 1px solid #fff;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    border-radius: 4px 0 4px 4px;
                }
                nav li{
                    text-align: center;
                    width: 100%;
                }
                .navbar a, .dropdown .dropbtn{
                    color: black;
                }
                .dropdown-content {
                    right: 90%;
                    top: 27%;
                }

            } */


/*--- end of Media Queries! styling---*/







/*--- contact page styling-----*/






/*--- contact page styling-----*/
