
html,body{
        margin:0px auto;
        font-family: Arial, Helvetica, sans-serif;
}

/* header navigation bar stylingstarts here */

            
            .bg-custom {
                background-color: #333;
                /* color: #FFFFFF; */
            }
           
            .custom-toggler.navbar-toggler {
                border-color: rgb(255, 255, 255);
                
            }

            /* .custom-toggler .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
              } */
            
           

            .navbar img {
                max-width: 150px;
            }
            .navbar a {
                color: #FFFFFF;
            }
            .navbar .dropdown-menu a {
                color: black;
            }
            .navbar a:hover, .dropdown:hover .dropbtn {
                color:orange;
            }
            .dropdown-menu a:hover{
                background-color: orange;
                color:white;
            }
            .dropdown:hover>.dropdown-menu {
                display: block;
              }
            .navbar .btnstyle{
                font-size: 14px;
                color: #6BCDFD;
                padding: 9px 16px;
                border-radius: 4px;
                border: 1px solid #6BCDFD;
            }
            .navbar .loginbtn a:hover, .navbar .Signupbtn a:hover{
                color: #6BCDFD;
                text-decoration: none;
            }
            .blue{
                color: #6BCDFD;
            }

            .white{
                color: white;
              }
            .vl{
                border-left: 2px solid #6BCDFD;
                height: 35px;

            }
/* end of header navigation bar styling */

/*<----body styling starts here----->*/

        .branding{
            margin-top: 180px;
        }

        .brand_heading{
            font-size: 50px;
            text-align: center;
            color: white;
            text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.479);

        }

        .brand_caption{
            color: white;
            font-size: 25px;
            text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.479);
            text-align: center;

        }

        .btn_adv_pod a:hover{
            color: white; 
            background-color: orange;
           
        }
        .btn_adv_pod{
            color: white; 
            margin-top: -80px;
           
        }
        .contact {
            background-color: white;
            padding: 10px 0px;
        }
        .section1{
            background: #000;
        }
        


        /*<---- slider style starts here ---->*/
        .bg-slidebar{
            padding:130px 0px 50px 0px;
            background-color:#F3F3F3;
        }
        .imgSlide{
            max-width: 100%;
        }
        .podfeat{
            padding-top: 40px;
        }
        .media{
            padding:50px 100px;
        }
        
        .black {
            color: black;
          }

        .fa-headphones{
            text-decoration: none;
            color: orange;
        }
        .fa-headphones:hover{
            text-decoration: none;
            color: #ffca4c;
        }
       

        /*<---- end of slider style starts here ---->*/


        #lottie{
            background-color:#fff;
            width:350px;
            height:350px;
            
            display:block;
            overflow: hidden;
            transform: translate3d(0,0,0);
            text-align: center;
            opacity: 1;
        }
        .bg-letter{
            background-color:#fff;
            overflow: hidden;
        }
        .contact-form
        {
            padding: 20px 0px;
        }




/*<---- end of body styling----->*/

/*<----footer styling starts here----->*/
    

        .copy_right{

            text-align: center;
            color:white;
            font-size: 12px;

        }

        .facebook{
            color: rgb(81, 125, 212) ;
            text-decoration: none;
        }

        .twitter{
            color: #1dcaff;
            text-decoration: none;
        }

        .facebook:hover , .twitter:hover{
            color: white;
            text-decoration: none;
        }

        footer img{
            float: right;
            max-width: 150px;
        }
        footer{
            background-color: #333;
            padding:60px;
        }



/*<--- end of footer styling---->*/

/*<-----Avdertiserpage styling---->*/

            .adv_cap{
                 color: black;
                font-size: 25px;
                text-align: center;
            }



/*<-----end of Avdertiserpage styling---->*/

/*--- Media Queries! styling starts here ---*/



    @media screen and  (max-width:960px){
        .vl{
            border-left: 0px solid #6BCDFD;
            height: 0px;

        }

    }
    @media screen and (max-width:760px){
        .media-body{
            margin:0px, 0px;
        }
    }
    @media screen and  (max-width:488px){
        .brand_heading{
            font-size: 45px;

        }

        .brand_caption{
            
            font-size: 17px;
        }

    }


/*--- end of Media Queries! styling---*/

/*--- About Us page styinh --*/
.content{
    padding: 20px 40px;
}

.container .row .aboutusPic {
    max-width: 500px;
    max-height: 500px;
}

.content article {
    padding: 20px 40px;
    min-height: 400px;
    max-width: 90%;
}
.content img{
    padding: 20px 40px;
    width: 300px;
    height: 350px;
}




.Name{
color:orange;
}



.AllAboutus{
    padding: 20px 20px 50px 20px;
}
.info {
    padding: 20px 0px 30px 0px;
}

.subtitle{
    padding: 5px 0px;
}

.description{

    padding: 15px 0px;

} 

.os-animation{
  opacity: 0;
}
 
.os-animation.animated{
    opacity: 1;
}
/*--- end of About Us page styinh --*/


/*--- Faqs page styinh --*/
#Faqs_intro {
    font-style: italic;
    font-size: 15px;
    padding: 20px 20px;
}

.container .row .plus{
    max-width: 20px;
    max-height: 20px;
    float: right;
    
}
.accordion
{
    padding: 10px 20px 50px 20px;
}





/*--- contact page styling-----*/


        .btn-contact {
            background-color: #006699;
            border-radius: .5rem;
            border-color: white;
            padding: 0.75rem 1.6rem;
            font-weight: 800;
            font-size: 1.4rem;
            cursor: pointer;
            text-align: center;
        }
        testarea {
            min-width: 100%;
            min-height: 80%;
        }
        .btn-contact :hover{
            background-color:white;
        }
        hz1{
            color: orange;
            text-align: center;
            font-size: 80px;
        }

    center{
        padding-bottom: 30px;
        padding-top: 30px;

    }


#pagetitle{
    margin-top: 100px;
    padding: 20px 20px;
    text-align: center;
    color: orange;
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.281);
}

/*--- contact page styling-----*/
